@import url(https://fonts.googleapis.com/css?family=Montserrat:700|Lato:400,700|Droid+Serif:400italic|PT+Mono);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Socicon';
  src: url('fonts/socicon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  text-transform: initial; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #222;
  letter-spacing: 0.02em; }

* {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #989898;
  line-height: 1.4; }

p {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #989898;
  line-height: 1.4; }

section {
  padding: 60px 0; }

.ng-enter {
  -webkit-transition: 0.3s 0.3s;
  -moz-transition: 0.3s 0.3s;
  transition: 0.3s 0.3s;
  opacity: 0; }

.ng-enter-active {
  opacity: 1; }

.ng-leave {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  opacity: 1; }

.ng-leave-active {
  opacity: 0; }

.view.ng-enter {
  -webkit-transition: 0.3s 0.3s;
  -moz-transition: 0.3s 0.3s;
  transition: 0.3s 0.3s;
  opacity: 0; }

.view.ng-enter-active {
  opacity: 1; }

.view.ng-leave {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  opacity: 1; }

.view.ng-leave-active {
  opacity: 0; }

.skill.ng-enter {
  -webkit-transition: 0.3s 0.3s;
  -moz-transition: 0.3s 0.3s;
  transition: 0.3s 0.3s;
  opacity: 0; }

.skill.ng-enter-active {
  opacity: 1; }

.skill.ng-leave {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  opacity: 1; }

.skill.ng-leave-active {
  opacity: 0; }

@keyframes color-arrow {
  0% {
    border-color: #989898;
    top: 80vh; }

  50% {
    border-color: #61D2B4;
    top: 82vh; }

  100% {
    border-color: #989898;
    top: 80vh; } }

@keyframes particleAnimation {
  from {
    left: -100px; }

  to {
    left: calc( 100% + 100px); } }

* {
  color: #989898;
  font-family: 'Lato', sans-serif; }
  *:focus {
    outline: none; }
  * ::selection {
    background: #61D2B4;
    color: white; }

a {
  text-decoration: underline;
  color: #61D2B4; }

blockquote {
  margin: 30px 60px;
  font-size: 20px;
  font-family: 'Droid Serif', serif;
  line-height: 1.6;
  position: relative;
  padding-left: 30px;
  color: #61D2B4;
  border-left: 1px solid #61D2B4; }

pre {
  counter-reset: line-numbering;
  background: #efefef;
  padding: 15px 15px 0 15px;
  display: block;
  color: #222;
  line-height: 140%;
  font-family: 'PT Mono';
  font-size: 14px;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word; }
  pre .line::before {
    content: counter(line-numbering);
    counter-increment: line-numbering;
    padding-right: 1em;
    /* space after numbers */
    padding-left: 8px;
    width: 1.5em;
    text-align: right;
    opacity: 0.5;
    color: #989898; }

.wrapper {
  position: relative; }
  @media  (min-width: 1440px) {
    .wrapper {
      max-width: 1140px;
      margin-left: auto;
      margin-right: auto; }
      .wrapper:after {
        content: " ";
        display: block;
        clear: both; } }

header {
  font-family: 'Lato', sans-serif;
  position: fixed;
  z-index: 50;
  width: 100%;
  padding-bottom: 45px;
  background-color: transparent;
  background-image: -webkit-linear-gradient(white 50%, transparent);
  background-image: linear-gradient(white 50%, transparent);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s; }
  header a {
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s; }
    header a #logo {
      width: 10.2564102564%;
      float: left;
      margin-right: 2.5641025641%;
      margin-top: 15px; }
    header a path {
      -webkit-transition: 0.2s;
      -moz-transition: 0.2s;
      transition: 0.2s; }
    header a:hover path {
      fill: #61D2B4; }
  header nav {
    float: right; }
    header nav li {
      display: inline-block;
      padding: 30px; }
      header nav li a {
        color: #989898;
        text-decoration: none; }
        header nav li a:hover {
          color: #61D2B4; }

header.dark {
  background-color: transparent;
  background-image: -webkit-linear-gradient(transparent, transparent);
  background-image: linear-gradient(transparent, transparent); }

footer {
  width: 100%;
  padding: 30px 0; }
  footer .footer-section {
    box-sizing: border-box;
    min-height: 138px;
    width: 31.1111111111%;
    float: left;
    margin-left: 1.1111111111%;
    margin-right: 1.1111111111%;
    border-right: 1px solid #efefef; }
    footer .footer-section:nth-child(3n) {
      border-right: none; }
  footer li {
    font-family: 'Lato', sans-serif;
    margin: 15px 0;
    width: 48.3333333333%;
    float: left;
    margin-left: 0.8333333333%;
    margin-right: 0.8333333333%; }
    footer li:nth-child(2n) {
      float: right; }
    footer li a {
      color: #989898;
      text-decoration: none; }
      footer li a:hover {
        color: #222; }
  footer .social {
    font-family: 'Socicon';
    font-size: 36px;
    text-align: center;
    margin-left: -30px; }
    footer .social span {
      display: inline-block;
      margin: 45px 30px; }
      footer .social span a {
        text-decoration: none;
        color: #ddd; }
        footer .social span a:hover {
          color: #61D2B4; }
  footer .recent-post {
    display: inline-block;
    padding: 0 15px; }
    footer .recent-post h5 {
      margin-bottom: 8px;
      color: #ddd; }
    footer .recent-post h4 {
      font-size: 36px;
      color: #989898; }
      footer .recent-post h4 a {
        color: inherit;
        text-decoration: none; }
        footer .recent-post h4 a:hover {
          color: #222; }
    footer .recent-post span {
      display: block;
      font-family: 'Lato', sans-serif;
      margin-top: 8px; }

.divide {
  clear: both;
  width: 300px;
  height: 1px;
  background-color: #efefef;
  margin: 30px auto; }

input[type="text"], input[type="email"] {
  padding: 8px;
  border: 1px solid #ddd;
  color: #989898;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s; }
  input[type="text"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder {
    color: #989898;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s; }
  input[type="text"]:-moz-placeholder, input[type="email"]:-moz-placeholder {
    /* Firefox 18- */
    color: #989898;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s; }
  input[type="text"]::-moz-placeholder, input[type="email"]::-moz-placeholder {
    /* Firefox 19+ */
    color: #989898;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s; }
  input[type="text"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder {
    color: #989898;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s; }
  input[type="text"]:focus, input[type="email"]:focus {
    border-color: #61D2B4;
    color: #61D2B4; }
    input[type="text"]:focus::-webkit-input-placeholder, input[type="email"]:focus::-webkit-input-placeholder {
      color: #61D2B4; }
    input[type="text"]:focus:-moz-placeholder, input[type="email"]:focus:-moz-placeholder {
      /* Firefox 18- */
      color: #61D2B4; }
    input[type="text"]:focus::-moz-placeholder, input[type="email"]:focus::-moz-placeholder {
      /* Firefox 19+ */
      color: #61D2B4; }
    input[type="text"]:focus:-ms-input-placeholder, input[type="email"]:focus:-ms-input-placeholder {
      color: #61D2B4; }

button[type="submit"] {
  border: none;
  background-color: #222;
  color: white;
  padding: 8px 15px;
  cursor: pointer; }
  button[type="submit"]:hover {
    color: #61D2B4; }

.hero {
  background-color: #efefef;
  height: 100vh;
  position: relative; }
  .hero .particles {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
    overflow: hidden; }
    .hero .particles .p {
      position: fixed;
      left: 0px;
      top: 50px;
      width: 1px;
      height: 3px;
      background-color: #61D2B4;
      position: absolute;
      animation-name: particleAnimation;
      animation-timing-function: linear;
      animation-iteration-count: infinite; }
    .hero .particles .p::before {
      position: absolute;
      display: block;
      content: "";
      width: 100px;
      right: 1px;
      top: 0px;
      height: 3px;
      background: linear-gradient(to right, rgba(97, 210, 180, 0) 0%, rgba(97, 210, 180, 0.4) 100%); }
    .hero .particles .p-1 {
      animation-duration: 10s; }
    .hero .particles .p-2 {
      animation-duration: 5s;
      top: 60%; }
    .hero .particles .p-3 {
      animation-duration: 20s;
      top: 90%; }
    .hero .particles .p-4 {
      animation-duration: 8s;
      top: 82%; }
    .hero .particles .p-5 {
      animation-duration: 12s;
      top: 32%; }
    .hero .particles .p-6 {
      animation-duration: 7s;
      top: 40%; }
    .hero .particles .p-7 {
      animation-duration: 11s;
      top: 78%; }
    .hero .particles .p-8 {
      animation-duration: 9s;
      top: 54%; }
    .hero .particles .p-9 {
      animation-duration: 6s;
      top: 70%; }
    .hero .particles .p-10 {
      animation-duration: 8s;
      top: 82%; }
  .hero .focus {
    top: 30vh;
    position: absolute;
    z-index: 20; }
  .hero h2 {
    font-size: 120px; }
  .hero p {
    padding-left: 8px; }
  .hero .arrow {
    height: 45px;
    width: 45px;
    border-right: 2px solid #989898;
    border-bottom: 2px solid #989898;
    position: absolute;
    left: 50%;
    top: 80vh;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-animation: color-arrow 2s ease-in-out infinite;
    -moz-animation: color-arrow 2s ease-in-out infinite;
    animation: color-arrow 2s ease-in-out infinite;
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    animation-delay: 0.5s; }

.work-section h3, .about-section h3, .process-section h3, .contact-section h3 {
  text-align: center;
  font-size: 36px; }
.work-section .content, .about-section .content, .process-section .content, .contact-section .content {
  margin: 30px auto;
  width: 600px; }

.work-section {
  padding-top: 83px; }
  .work-section .pieces {
    margin-top: 60px; }
    .work-section .pieces .piece {
      width: 20%;
      float: left;
      margin-left: 2.5%;
      margin-right: 2.5%;
      position: relative;
      min-height: 120px; }
      .work-section .pieces .piece .overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: block;
        opacity: 0;
        background-color: #61D2B4;
        background-image: -webkit-linear-gradient(-315deg, #61D2B4 0%, rgba(255, 255, 255, 0.8) 50%);
        background-image: linear-gradient(45deg,#61D2B4 0%, rgba(255, 255, 255, 0.8) 50%);
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        transition: 0.2s; }
        .work-section .pieces .piece .overlay:hover {
          opacity: 0.5; }
      .work-section .pieces .piece img {
        display: block;
        max-height: 60px;
        max-width: 100%;
        margin: auto;
        margin-top: 30px; }
  .work-section .view-all {
    display: block;
    width: 90px;
    margin: auto;
    text-align: center;
    clear: both;
    padding-top: 30px;
    font-family: 'Lato', sans-serif;
    color: #989898;
    text-decoration: none;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s; }
    .work-section .view-all:hover {
      color: #61D2B4; }

.process-section h4 {
  margin-top: 60px;
  font-size: 72px; }
.process-section span {
  font-family: 'Lato', sans-serif; }
.process-section .content {
  width: 800px; }
.process-section .left {
  width: 45%;
  float: left;
  margin-left: 2.5%;
  margin-right: 2.5%; }
.process-section .right {
  width: 45%;
  float: left;
  margin-left: 2.5%;
  margin-right: 2.5%; }
  .process-section .right p {
    margin-top: 60px; }

.page {
  padding-top: 120px;
  min-height: 60vh; }
  .page .content {
    width: 700px;
    margin: auto; }
  .page p {
    margin: 30px 0;
    line-height: 1.6; }
  .page h2 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 48px; }
  .page h3 {
    margin-bottom: -15px;
    font-size: 20px; }

.skills .tool {
  width: 600px;
  margin: auto; }
  .skills .tool input {
    width: 300px;
    display: block;
    margin: 15px auto; }
  .skills .tool h4 {
    margin-bottom: -15px; }

.work .pieces {
  margin-top: 60px; }
  .work .pieces .piece {
    width: 20%;
    float: left;
    margin-left: 2.5%;
    margin-right: 2.5%;
    position: relative;
    min-height: 120px; }
    .work .pieces .piece .overlay {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: block;
      opacity: 0;
      background-color: #61D2B4;
      background-image: -webkit-linear-gradient(-315deg, #61D2B4 0%, rgba(255, 255, 255, 0.8) 50%);
      background-image: linear-gradient(45deg,#61D2B4 0%, rgba(255, 255, 255, 0.8) 50%);
      -webkit-transition: 0.2s;
      -moz-transition: 0.2s;
      transition: 0.2s; }
      .work .pieces .piece .overlay:hover {
        opacity: 0.5; }
    .work .pieces .piece img {
      display: block;
      max-height: 60px;
      max-width: 100%;
      margin: auto;
      margin-top: 30px; }

.blog h2 {
  margin-bottom: 60px; }
.blog h4 {
  margin-bottom: 15px;
  color: #989898; }
.blog h3 {
  font-size: 72px; }
  .blog h3 a {
    color: inherit;
    text-decoration: none;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s; }
    .blog h3 a:hover {
      color: #61D2B4; }
.blog .date, .blog .snippet {
  display: block;
  font-family: 'Lato', sans-serif;
  margin-top: 30px; }
.blog .snippet {
  width: 400px;
  line-height: 1.5; }
.blog .post {
  margin-bottom: 30px; }
.blog .show-more {
  display: block;
  text-align: center;
  color: #989898;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s; }
  .blog .show-more:hover {
    color: #61D2B4; }

.post-page .date {
  text-align: center;
  display: block;
  font-family: 'Lato', sans-serif; }
.post-page h4 {
  margin-top: 45px;
  margin-bottom: -15px; }

.contact form, .contact-section form {
  padding: 15px 0; }
.contact input[type="text"], .contact input[type="email"], .contact textarea, .contact-section input[type="text"], .contact-section input[type="email"], .contact-section textarea {
  box-sizing: border-box;
  padding: 3px 8px;
  border: 1px solid #989898;
  color: #989898;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s; }
  .contact input[type="text"]::-webkit-input-placeholder, .contact input[type="email"]::-webkit-input-placeholder, .contact textarea::-webkit-input-placeholder, .contact-section input[type="text"]::-webkit-input-placeholder, .contact-section input[type="email"]::-webkit-input-placeholder, .contact-section textarea::-webkit-input-placeholder {
    color: #989898;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s; }
  .contact input[type="text"]:-moz-placeholder, .contact input[type="email"]:-moz-placeholder, .contact textarea:-moz-placeholder, .contact-section input[type="text"]:-moz-placeholder, .contact-section input[type="email"]:-moz-placeholder, .contact-section textarea:-moz-placeholder {
    /* Firefox 18- */
    color: #989898;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s; }
  .contact input[type="text"]::-moz-placeholder, .contact input[type="email"]::-moz-placeholder, .contact textarea::-moz-placeholder, .contact-section input[type="text"]::-moz-placeholder, .contact-section input[type="email"]::-moz-placeholder, .contact-section textarea::-moz-placeholder {
    /* Firefox 19+ */
    color: #989898;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s; }
  .contact input[type="text"]:-ms-input-placeholder, .contact input[type="email"]:-ms-input-placeholder, .contact textarea:-ms-input-placeholder, .contact-section input[type="text"]:-ms-input-placeholder, .contact-section input[type="email"]:-ms-input-placeholder, .contact-section textarea:-ms-input-placeholder {
    color: #989898;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s; }
  .contact input[type="text"]:focus, .contact input[type="email"]:focus, .contact textarea:focus, .contact-section input[type="text"]:focus, .contact-section input[type="email"]:focus, .contact-section textarea:focus {
    border-color: #222; }
.contact input.ng-invalid.ng-touched.ng-dirty, .contact textarea.ng-invalid.ng-touched.ng-dirty, .contact-section input.ng-invalid.ng-touched.ng-dirty, .contact-section textarea.ng-invalid.ng-touched.ng-dirty {
  border-color: red;
  color: red; }
  .contact input.ng-invalid.ng-touched.ng-dirty::-webkit-input-placeholder, .contact textarea.ng-invalid.ng-touched.ng-dirty::-webkit-input-placeholder, .contact-section input.ng-invalid.ng-touched.ng-dirty::-webkit-input-placeholder, .contact-section textarea.ng-invalid.ng-touched.ng-dirty::-webkit-input-placeholder {
    color: red;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s; }
  .contact input.ng-invalid.ng-touched.ng-dirty:-moz-placeholder, .contact textarea.ng-invalid.ng-touched.ng-dirty:-moz-placeholder, .contact-section input.ng-invalid.ng-touched.ng-dirty:-moz-placeholder, .contact-section textarea.ng-invalid.ng-touched.ng-dirty:-moz-placeholder {
    /* Firefox 18- */
    color: red;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s; }
  .contact input.ng-invalid.ng-touched.ng-dirty::-moz-placeholder, .contact textarea.ng-invalid.ng-touched.ng-dirty::-moz-placeholder, .contact-section input.ng-invalid.ng-touched.ng-dirty::-moz-placeholder, .contact-section textarea.ng-invalid.ng-touched.ng-dirty::-moz-placeholder {
    /* Firefox 19+ */
    color: red;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s; }
  .contact input.ng-invalid.ng-touched.ng-dirty:-ms-input-placeholder, .contact textarea.ng-invalid.ng-touched.ng-dirty:-ms-input-placeholder, .contact-section input.ng-invalid.ng-touched.ng-dirty:-ms-input-placeholder, .contact-section textarea.ng-invalid.ng-touched.ng-dirty:-ms-input-placeholder {
    color: red;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s; }
  .contact input.ng-invalid.ng-touched.ng-dirty:focus, .contact textarea.ng-invalid.ng-touched.ng-dirty:focus, .contact-section input.ng-invalid.ng-touched.ng-dirty:focus, .contact-section textarea.ng-invalid.ng-touched.ng-dirty:focus {
    border-color: red;
    color: red; }
    .contact input.ng-invalid.ng-touched.ng-dirty:focus::selection, .contact textarea.ng-invalid.ng-touched.ng-dirty:focus::selection, .contact-section input.ng-invalid.ng-touched.ng-dirty:focus::selection, .contact-section textarea.ng-invalid.ng-touched.ng-dirty:focus::selection {
      background-color: red; }
.contact input.ng-valid.ng-touched.ng-dirty, .contact textarea.ng-valid.ng-touched.ng-dirty, .contact-section input.ng-valid.ng-touched.ng-dirty, .contact-section textarea.ng-valid.ng-touched.ng-dirty {
  border-color: #61D2B4;
  color: #61D2B4; }
  .contact input.ng-valid.ng-touched.ng-dirty:focus, .contact textarea.ng-valid.ng-touched.ng-dirty:focus, .contact-section input.ng-valid.ng-touched.ng-dirty:focus, .contact-section textarea.ng-valid.ng-touched.ng-dirty:focus {
    border-color: #61D2B4; }
.contact input[type="text"], .contact input[type="email"], .contact-section input[type="text"], .contact-section input[type="email"] {
  margin-bottom: 30px;
  width: 45%;
  float: left;
  margin-left: 2.5%;
  margin-right: 2.5%; }
.contact input[type="email"], .contact-section input[type="email"] {
  float: right; }
.contact textarea, .contact-section textarea {
  margin-bottom: 30px;
  width: 95%;
  float: left;
  margin-left: 2.5%;
  margin-right: 2.5%;
  resize: none; }
.contact button[type="submit"], .contact-section button[type="submit"] {
  box-sizing: border-box;
  width: 50%;
  margin-left: 25%; }

.work-page .prev, .work-page .next {
  position: absolute;
  font-family: 'Lato', sans-serif; }
.work-page .prev {
  left: 0; }
.work-page .next {
  right: 0; }
.work-page .date {
  text-align: center;
  display: block; }
.work-page span {
  font-family: 'Lato', sans-serif; }
.work-page .panel {
  margin-top: 60px; }
  .work-page .panel img {
    max-width: 100%; }
  .work-page .panel .caption {
    font-family: 'Droid Serif', serif;
    color: #989898; }
.work-page .full {
  width: 100%; }

.aba .aba-logo {
  text-align: center;
  display: block;
  margin: auto; }
.aba .full {
  margin: 30px 0;
  background-image: url('img/abaretirement/bg-bubbles.jpg');
  background-size: 100%; }

.cards-and-pockets .candp-logo {
  text-align: center;
  display: block;
  margin: auto; }
