@import url(https://fonts.googleapis.com/css?family=Montserrat:700|Lato:400,700|Droid+Serif:400italic|PT+Mono);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Socicon';
  src: url('fonts/socicon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  text-transform: initial; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #222;
  letter-spacing: 0.02em; }

* {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #989898;
  line-height: 1.4; }

p {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #989898;
  line-height: 1.4; }

section {
  padding: 60px 0; }

.ng-enter {
  -webkit-transition: 0.3s 0.3s;
  -moz-transition: 0.3s 0.3s;
  transition: 0.3s 0.3s;
  opacity: 0; }

.ng-enter-active {
  opacity: 1; }

.ng-leave {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  opacity: 1; }

.ng-leave-active {
  opacity: 0; }

.view.ng-enter {
  -webkit-transition: 0.3s 0.3s;
  -moz-transition: 0.3s 0.3s;
  transition: 0.3s 0.3s;
  opacity: 0; }

.view.ng-enter-active {
  opacity: 1; }

.view.ng-leave {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  opacity: 1; }

.view.ng-leave-active {
  opacity: 0; }

.skill.ng-enter {
  -webkit-transition: 0.3s 0.3s;
  -moz-transition: 0.3s 0.3s;
  transition: 0.3s 0.3s;
  opacity: 0; }

.skill.ng-enter-active {
  opacity: 1; }

.skill.ng-leave {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  opacity: 1; }

.skill.ng-leave-active {
  opacity: 0; }

@keyframes color-arrow {
  0% {
    border-color: #989898;
    top: 80vh; }

  50% {
    border-color: #61D2B4;
    top: 82vh; }

  100% {
    border-color: #989898;
    top: 80vh; } }

@keyframes mobileSlideNav {
  0% {
    left: 100%; }

  100% {
    left: 0; } }

@keyframes mobileSlideNavOut {
  0% {
    left: 100%; }

  100% {
    left: 0; } }

* {
  color: #989898;
  font-family: 'Lato', sans-serif; }
  *:focus {
    outline: none; }
  * ::selection {
    background: #61D2B4;
    color: white; }

a {
  text-decoration: underline;
  color: #61D2B4;
  font-family: 'Lato', sans-serif; }

blockquote {
  margin: 30px 60px;
  font-size: 20px;
  font-family: 'Droid Serif', serif;
  line-height: 1.6;
  position: relative;
  padding-left: 30px;
  color: #61D2B4;
  border-left: 1px solid #61D2B4; }

pre {
  counter-reset: line-numbering;
  background: #efefef;
  padding: 15px 15px 0 15px;
  display: block;
  color: #222;
  line-height: 140%;
  font-family: 'PT Mono';
  font-size: 14px;
  white-space: no-wrap;
  white-space: -moz-no-wrap;
  white-space: -o-no-wrap;
  overflow-x: scroll; }
  pre .line::before {
    content: counter(line-numbering);
    counter-increment: line-numbering;
    padding-right: 1em;
    /* space after numbers */
    padding-left: 8px;
    width: 1.5em;
    text-align: right;
    opacity: 0.5;
    color: #989898; }

.wrapper {
  position: relative; }
  @media  (min-width: 1440px) {
    .wrapper {
      max-width: 1140px;
      margin-left: auto;
      margin-right: auto; }
      .wrapper:after {
        content: " ";
        display: block;
        clear: both; } }

header {
  padding: 15px; }

.logo {
  fill: #222; }

@media  (min-width: 0) and (max-width: 760px) {
  .logo {
    width: 150px;
    display: block;
    margin: auto; }
  h3, h2 {
    font-size: 36px;
    text-align: center; }
  p {
    font-size: 20px; }
  span {
    font-family: 'Lato', sans-serif; }
  .nav-toggle {
    float: right;
    position: fixed;
    z-index: 200;
    cursor: pointer;
    padding: 15px;
    background: rgba(239, 239, 239, 0.9);
    margin: 8px;
    bottom: 8px;
    right: 8px;
    width: 60px;
    height: 45px;
    -webkit-transform: 0deg;
    -moz-transform: 0deg;
    -ms-transform: 0deg;
    -o-transform: 0deg;
    transform: 0deg;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0s background-color;
    -moz-transition: 0s background-color;
    transition: 0s background-color;
    cursor: pointer; }
    .nav-toggle span {
      display: block;
      position: absolute;
      height: 9px;
      width: calc(100% - 30px);
      background: #222;
      opacity: 1;
      left: 15px;
      -webkit-transform: 0deg;
      -moz-transform: 0deg;
      -ms-transform: 0deg;
      -o-transform: 0deg;
      transform: 0deg;
      -webkit-transition: 0.25s ease-in-out;
      -moz-transition: 0.25s ease-in-out;
      transition: 0.25s ease-in-out; }
      .nav-toggle span:nth-child(1) {
        top: 15px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -ms-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center; }
      .nav-toggle span:nth-child(2) {
        top: 33px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -ms-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center; }
      .nav-toggle span:nth-child(3) {
        top: 51px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -ms-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center; }
    .nav-toggle.active {
      color: #FFF;
      background-color: rgba(34, 34, 34, 0); }
      .nav-toggle.active:hover span {
        background-color: #61D2B4; }
      .nav-toggle.active span {
        background-color: #FFF;
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        transition: 0.2s; }
        .nav-toggle.active span:nth-child(1) {
          top: 12px;
          left: 23px;
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg); }
        .nav-toggle.active span:nth-child(2) {
          width: 0%;
          opacity: 0; }
        .nav-toggle.active span:nth-child(3) {
          top: 54px;
          left: 23px;
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg); }
  .nav-list {
    display: none;
    opacity: 0;
    position: fixed;
    background: rgba(34, 34, 34, 0.97);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
    animation-name: mobileSlideNav;
    animation-duration: 0.2s;
    color: #FFF;
    text-align: center; }
    .nav-list.active {
      display: block;
      opacity: 1;
      left: 0;
      animation-name: mobileSlideNavOut;
      animation-duration: 0.2s; }
    .nav-list a {
      text-decoration: none; }
    .nav-list li {
      padding: 30px;
      color: #FFF;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      letter-spacing: 0.1em;
      font-size: 72px;
      text-transform: uppercase;
      font-size: 36px;
      -webkit-transition: 0.2s;
      -moz-transition: 0.2s;
      transition: 0.2s; }
      .nav-list li:hover {
        color: #61D2B4; }
  .contact-top {
    color: #FFF;
    background-color: #61D2B4;
    padding: 15px;
    text-decoration: none;
    position: absolute;
    top: 15px;
    right: 15px; }
  .page {
    padding: 15px;
    font-size: 1em; }
  .hero {
    height: 90vh;
    background: #efefef;
    padding-top: 10vh;
    margin-top: -11vh; }
    .hero .focus {
      position: absolute;
      top: 30vh;
      padding: 15px; }
    .hero h2 {
      font-size: 72px;
      margin-left: -3px;
      text-align: left; }
  .piece {
    text-align: center;
    margin-top: 60px; }
  .view-all {
    text-align: center;
    font-size: 20px;
    margin-top: 60px;
    display: block;
    text-decoration: none; }
  .process-section .left, .process-section .right {
    padding: 15px; }
  .process-section .left {
    margin-top: 30px; }
  .process-section h4 {
    font-size: 48px; }
  .contact-section input, .contact-section textarea, .contact .content input, .contact .content textarea {
    padding: 8px;
    width: calc(100% - 30px);
    margin: 15px 15px 0 15px;
    box-sizing: border-box;
    border: 1px solid #989898; }
    .contact-section input:focus, .contact-section textarea:focus, .contact .content input:focus, .contact .content textarea:focus {
      border-color: #61D2B4;
      color: #61D2B4; }
      .contact-section input:focus::-webkit-input-placeholder, .contact-section textarea:focus::-webkit-input-placeholder, .contact .content input:focus::-webkit-input-placeholder, .contact .content textarea:focus::-webkit-input-placeholder {
        /* WebKit, Blink, Edge */
        color: #61D2B4; }
      .contact-section input:focus:-moz-placeholder, .contact-section textarea:focus:-moz-placeholder, .contact .content input:focus:-moz-placeholder, .contact .content textarea:focus:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #61D2B4;
        opacity: 1; }
      .contact-section input:focus::-moz-placeholder, .contact-section textarea:focus::-moz-placeholder, .contact .content input:focus::-moz-placeholder, .contact .content textarea:focus::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #61D2B4;
        opacity: 1; }
      .contact-section input:focus:-ms-input-placeholder, .contact-section textarea:focus:-ms-input-placeholder, .contact .content input:focus:-ms-input-placeholder, .contact .content textarea:focus:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #61D2B4; }
      .contact-section input:focus:placeholder-shown, .contact-section textarea:focus:placeholder-shown, .contact .content input:focus:placeholder-shown, .contact .content textarea:focus:placeholder-shown {
        /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
        color: #61D2B4; }
  .contact-section textarea, .contact .content textarea {
    resize: none;
    height: 120px; }
  .contact-section button, .contact .content button {
    display: block;
    width: 120px;
    background-color: #61D2B4;
    border: none;
    padding: 15px;
    color: #FFF;
    margin: 15px auto;
    cursor: pointer; }
  .about h2 {
    font-size: 48px;
    margin-bottom: 30px; }
  .about h3 {
    font-size: 20px;
    margin-bottom: 15px; }
  .about p {
    margin-bottom: 15px; } }
