<div class="aba page work-page">
	<div class="wrapper">
		<div class="info">
			<h2>ABA Retirement</h2>
			
			<span class="date">Summer 2013</span>
		</div>

		<div class="content">
			<p>
				The ABA Retirement Funds Program has been serving the retirement needs of the legal community for over 50 years. In 2013, they began work on creating a new web experience for their clients. The goals of this redesign were to provide a simpler way to showcase the large amount of information that retirement plans require, give new users a straightforward way to learn about retirement plans, while giving returning users a more direct way to manage their accounts.
			</p>
		</div>

			<img src="components/img/abaretirement/logo.png" alt="" class="aba-logo">

		<div class="content">
			<p>
				I was hired as a web intern for ABA Retirement's marketing division. Our goal was simply to design this new site. While we would be designing an entirely different website, we had to base our design around the slew of information that already existed on the current site.
			</p>

			<div class="panel">
				<h4>The Old Version</h4>
				<img src="components/img/abaretirement/abaretirement-mockup-old.png" alt="">
				<span class="caption">Cluttered, Cramped, and Overly Contrasted</span>
			</div>

			<p>
				My work on the project was to provide ideas and mockups for possible design solutions, many of which ended up in the final version of the site. While the site is still in development, the design of the site has been finalized.
			</p>
			
			<div class="panel">
				<h4>The New Version</h4>
			</div>
		</div>
	</div>

			<div class="full">
			
		</div>
</div>