<div class="aba page work-page">
	<div class="wrapper">
		<div class="info">
			<h2>ABA Retirement</h2>
			
			<span class="date">Summer 2013</span>
		</div>

		<div class="content">
			<p>
				The ABA Retirement Funds Program has been serving the retirement needs of the legal community for over 50 years. In 2013, they began work on creating a new web experience for their clients. The goals of this redesign were to provide a simpler way to showcase the large amount of information that retirement plans require, give new users a straightforward way to learn about retirement plans, while giving returning users a more direct way to manage their accounts.
			</p>
		</div>

			<img src="components/img/abaretirement/logo.png" alt="" class="aba-logo">
			<a href="http://new.abaretirement.com" class="view-site" target="_blank">View Site</a>

		<div class="content">
			

			<div class="panel">
				<h4>The Old Version</h4>
				<img src="components/img/abaretirement/abaretirement-mockup-old.png" alt="">
				<span class="caption">Cluttered, Cramped, and Overly Contrasted</span>
			</div>

			<p>
				Compared to the old versino, the newer design of ABA Retirement provides a much more modern appeal to new users, while still maintaining usability for those that use the site as a regular information utility.
			</p>
			
			<div class="panel">
				<h4>The New Version</h4>
				<a href="http://new.abaretirement.com" target="_blank"><img src="components/img/abaretirement/abaretirement-mockup-new-1.png" alt="ABA Mockup 1"></a>
				<span class="caption">Sleek and modern, with a higher conversion rate</span>

				<a href="http://new.abaretirement.com/about-the-program/" target="_blank"><img src="components/img/abaretirement/abaretirement-mockup-new-2.png" alt="ABA Mockup 2"></a>
				<span class="caption">Informative and concise, conveying a lot of text in an organized way</span>

				<a href="http://new.abaretirement.com/program-benefits-performance/" target="_blank"><img src="components/img/abaretirement/abaretirement-mockup-new-3.png" alt="ABA Mockup 3"></a>
				<span class="caption">Much more detailed Calls to Action, giving users a direct path</span>

				<p>
					The new design proved very successful and tailored for the needs of ABA Retirement Funds. The visuals and layouts were pushed to the development department, and are set to launch in Q2 2016.
				</p>

				<a href="http://new.abaretirement.com" class="view-site" target="_blank">View Site</a>
			</div>
		</div>
	</div>
</div>