<div class="cards-and-pockets page work-page">
	<div class="wrapper">
		<div class="info">
			<h2>Cards &amp; Pockets</h2>
			
			<span class="date">May 2014 &mdash; January 2016</span>

			<div class="content">
				<p>
					Cards &amp; Pockets is an online retailer that specializes in customizable, DIY wedding invitation. They receive over a million monthly visitors to their site, and as such, wanted to update the look of their site to something much more modern, maintainable, and capable of higher conversion rates. 
				</p>
			</div>

			<a href="https://new.cardsandpockets.com"  target="_blank"><img src="components/img/cardsandpockets/logo.gif" alt="" class="work-logo"></a>

			<a href="https://new.cardsandpockets.com" class="view-site"  target="_blank">View Site</a>

			<div class="content">
				<p>
					To go hand in hand with their familiar business and arts-and-crafts style product, they wanted a soft pastel palette that would be reflective of the wide variety of colored paper products that the sold. On top of their entire redesign of their site, an entire backend service had to be built from the ground up as well. While the frontend is a melding of HTML, CSS, and JavaScript, the backend is a totally custom version of NOPCommerce, running on .NET. 
				</p>

				<div class="panel">

					<h4>The Old Version</h4>
					<a href="http://cardsandpockets.com" target="_blank"><img src="components/img/cardsandpockets/mockup-old.png" alt="Cards &amp; Pockets Mockup Old"></a>
					<span class="caption">Cramped, Skeumorphic, and lacking a modern touch</span>
				</div>

				<div class="panel">
					<h4>The New Version</h4>

					<a href="http://new.cardsandpockets.com" target="_blank"><img src="components/img/cardsandpockets/mockup-new-1.png" alt="Cards &amp; Pockets Mockup New 1"></a>
					<span class="caption">Flatter, with only the most important information being shown</span>

					<a href="https://new.cardsandpockets.com/signature-pocket-invitation" target="_blank"><img src="components/img/cardsandpockets/mockup-new-2.png" alt="Cards &amp; Pockets Mockup New 1"></a>
					<span class="caption">A simple way to show the complex inventory of 81 colors for a product</span>

					<a href="https://new.cardsandpockets.com/gallery" target="_blank"><img src="components/img/cardsandpockets/mockup-new-3.png" alt="Cards &amp; Pockets Mockup New 3"></a>
					<span class="caption">And added Customer Gallery, to showcase the invitations made by users!</span>
				</div>
			</div>

			
		</div>
	</div>
</div>