<div class="cards-and-pockets page work-page">
	<div class="wrapper">
		<div class="info">
			<h2>Cards &amp; Pockets</h2>
			
			<span class="date">May 2014 &mdash; January 2016</span>

			<div class="content">
				<p>
					Cards &amp; Pockets is an online retailer that specializes in customizable wedding invitations. I was hired full time for over a year and tasked with building a new eCommerce solution for them from scratch. 
				</p>
			</div>

			<img src="components/img/cardsandpockets/logo.gif" alt="">.candp-logo
		</div>
	</div>
</div>