<div class="enigmate page work-page">

	<div class="wrapper">
		<div class="info">
			<div class="prev">Previous</div>
			<div class="next">Next</div>

			<h2>Enigmate</h2>
			<span class="date">Fall 2015</span>
			<div class="content">
				<p>
					Enigmate is an encryption tool for every day use. While not robust enough for encrypting full files, enigmate is perfect for securing every day information. Running off of <a ng-href="/#/enigma-js">Enigma.js</a>, enigmate uses ASCII based keys to encrypt and decrypt values, and is conceptually based off of the WWII era <a href="https://en.wikipedia.org/wiki/Enigma_machine" target="_blank">Enigma Machine</a>.
				</p>

			</div>

			<a href="http://enigmate.co"><img src="/components/img/enigmate/logo.png" alt="Enigmate" class="work-logo"></a>
			<a href="http://enigmate.co" class="view-site">View Site</a>
			<div class="content">
				<p>
					To view how Engimate runs, and understand the encryption engine powers it, please <a ng-href="/#/enigma-js">click here</a>.
				</p>
			</div>
		</div>
	</div>
</div>