<div class="free-post page work-page">
	<div class="wrapper">
		<div class="info">

			<h2>The Free Post</h2>
			
			<span class="date">Spring 2016</span>

			<div class="content">
				<p>
					Free Post is a WordPress theme designed for news blogging, organizing articles, or displaying serial content. Built from scratch, Free Post is meant to be a small theme with robust potential. Using simple visuals and minimalistic copy styles, Free Post displays content to users without any messing around. Simple, and too the point, so that your users can see the message you’re trrying to convey. 
				</p>

				<p> <i>Free Post is still in the early stages of development</i> </p>
			</div>

			<img src="components/img/free-post/logo.svg" alt="The Free Post" class="work-logo free-post-logo">
			<a href="" class="view-site" target="_blank">View Theme</a>

			<div class="content">
				<div class="panel">
					<h4>The Design</h4>
					<a href="http://freepost.co" target="_blank"><img src="components/img/free-post/mockup-rough.png" alt="ABA Mockup 1"></a>
					<span class="caption">A rough display of an article page</span>
				</div>
			</div>

		</div>
	</div>
</div>