<div class="mcmahon-advisory-group page work-page">
	<div class="wrapper">
		<div class="info">
			<h2>Game Grumps</h2>
			
			<span class="date">Winter 2015</span>

			<div class="content">
				<p>
					Game Grumps is a popular let’s play style YouTube channel with over 3 million subscribers. Though they are currently the 165th most viewed YouTube channel, they did not have a website. Since their main content is in video form, and their entire library is on YouTube, the intention of this new site was to provide an alternate avenue for fans to view their content, while still providing the core functionality of YouTube. As such, the YouTube RESTful API was used heavily to display, organize, and interact with the Game Grumps content.
				</p>

				<a href="http://gamegrumps.co"><img src="components/img/game-grumps/logo.png" alt="Game Grumps" class="work-logo" target="_blank"></a>

				<a href="http://gamegrumps.co" class="view-site">View Site</a>

				<div class="panel">
					<h4>The Design</h4>
					<a href="http://gamegrumps.co" target="_blank"><img src="components/img/game-grumps/mockup-1.png" alt="Game Grumps Home Page"></a>
					<span class="caption">A homepage meant to convey the various video content</span>

					
					<a href="http://gamegrumps.co/#/videos/FiIPm44B-As" target="_blank"><img src="components/img/game-grumps/mockup-2.png" alt="Game Grumps Video Page"></a>
					<span class="caption">The video page, with similar functionality to YouTube </span>

					
					<a href="http://gamegrumps.co/#/grumpcade" target="_blank"><img src="components/img/game-grumps/mockup-3.png" alt="Game Grumps Home Page"></a>
					<span class="caption">Displaying thumbnails for various organized videos, with a different color theme</span>


					<a href="http://gamegrumps.co/#/search" target="_blank"><img src="components/img/game-grumps/mockup-4.png" alt="Game Grumps Search Page"></a>
					<span class="caption">A search page for users to find specific content easily</span>
				</div>

			</div>

			
		</div>
	</div>
</div>

