@import url(https://fonts.googleapis.com/css?family=Montserrat:700|Lato:400,700|Droid+Serif:400italic);

//----------------------------Fonts
$headline		: 'Montserrat', sans-serif;
$body			: 'Lato', sans-serif;
$accent			: 'Droid Serif', serif;

//----------------------------Color

$black			: #222;
$lighter-grey	: #efefef;
$grey			: #666;


//----------------------------Spacing

$mic			:3px;
$tny			:8px;
$sm				:15px;
$reg			:30px;
$med			:45px;
$lg 			:60px;
$xl				:90px;
$xxl			:120px;

//---------------------------Font Size Variables
$minFontSize:	10px;
$tnyFontSize:	12px;
$smFontSize:	14px;
$regFontSize:	16px;
$medFontSize:	20px;
$lgFontSize:	36px;
$xlFontSize:	48px;
$xxlFontSize:	72px;