
//--------------------------------------------------------imports
@import "../lib/bourbon/app/assets/stylesheets/bourbon";
@import "../lib/breakpoint-sass/stylesheets/breakpoint";
@import "../lib/susy/sass/susy";

@import "reset";
@import "variables";
@import "standard";
@import "animations";

//------------------------------------------------------stylesheets

*{
	color:$grey;
	font-family:$body;

	&:focus{
		outline:none;
	}

	::selection{
		background:$green;
		color:white;
	}
}

a{
	text-decoration:underline;
	color:$green;
	font-family:$body;
}

blockquote{
	margin:$reg $lg;
	font-size:$medFontSize;
	font-family:$accent;
	line-height:1.6;
	position:relative;
	padding-left:$reg;
	color:$green;
	border-left:1px solid $green;
}

pre{
  counter-reset:line-numbering;
  background:$lighter-grey;
  padding:$sm $sm 0 $sm;
  display:block;
  color:$black;
  line-height:140%;
  font-family: $mono;
  font-size:$smFontSize;
  white-space: no-wrap;
  white-space: -moz-no-wrap;
  white-space: -o-no-wrap;
  overflow-x:scroll;

    .line::before {
      content: counter(line-numbering);
      counter-increment: line-numbering;
      padding-right: 1em;
      /* space after numbers */
      padding-left:8px;
      width: 1.5em;
      text-align: right;
      opacity: 0.5;
      color:$grey;
  }
}

//--------------------------General Pieces

.wrapper{
	position:relative;

	@include breakpoint(1440px){
		@include container(1140px);
	}
}

header{
	padding:$sm;
}

.logo{
	fill:$black;
}




//------------------------mobile styles

@include breakpoint(0 760px){
	.logo{
		width:150px;
		display:block;
		margin:auto;
	}

	h3,h2{
		font-size:$lgFontSize;
		text-align:center;
	}

	p{
		font-size:$medFontSize;
	}

	span{
		font-family: $body;
	}

	.nav-toggle{
		float:right;
		position:fixed;
		z-index:200;
		cursor:pointer;
		padding:$sm;
		background:rgba($lighter-grey, 0.9);
		margin:$tny;
		bottom:$tny;
		right:$tny;

		//hamburger animation
		width: 60px;
		height: 45px;
		@include transform(0deg);
		@include transition(0.3s ease-in-out);
		@include transition(0s background-color);
		cursor:pointer;

		span{
			display: block;
			position: absolute;
			height: 9px;
			width: calc(100% - 30px);
			background:$black;
			opacity: 1;
			left: $sm;
			@include transform(0deg);
			@include transition(0.25s ease-in-out);

			&:nth-child(1){
				top:15px;
				@include transform-origin(left center);
			}

			&:nth-child(2){
				top:33px;
				@include transform-origin(left center);
			}

			&:nth-child(3){
				top:51px;
				@include transform-origin(left center);
			}
		}

		&.active{
			color:$white;
			background-color:rgba($black, 0);

			&:hover{
				span{
					background-color:$green;
				}
			}

			span{
				background-color: $white;
				@include transition(0.2s);
				&:nth-child(1){
					top:12px;
					left:23px;
					@include transform(rotate(45deg));
				}

				&:nth-child(2){
					width:0%;
					opacity:0;
				}

				&:nth-child(3){
					top:54px;
					left:23px;
					@include transform(rotate(-45deg));
				}
			}
		}
	}
	
	.nav-list{
		display:none;
		opacity:0;
		position:fixed;
		background: rgba($black, 0.97);
		top:0;
		left:0;
		width:100%;
		height:100%;
		z-index:100;
		@include transition(0.3s);
		animation-name:mobileSlideNav;
		animation-duration:0.2s;
		color:$white;
		text-align:center;

		&.active{
			display:block;
			opacity:1;
			left:0;
			animation-name:mobileSlideNavOut;
			animation-duration:0.2s;
		}

		a{
			text-decoration: none;
		}

		li{
			padding:$reg;
			@include headline($white);
			font-size:$lgFontSize;
			@include transition(0.2s);

			&:hover{
				
				color:$green;
			}
		}

	}

	.contact-top{
		color:$white;
		background-color:$green;
		padding:$sm;
		text-decoration: none;
		position:absolute;
		top:$sm;
		right:$sm;
	}

	.page{
		padding:$sm;
		font-size:1em;
	}

	.hero{
		height:90vh;
		background:$lighter-grey;
		padding-top:10vh;
		margin-top:-11vh;

		.focus{
			position:absolute;
			top:30vh;
			padding:$sm;
		}

		h2{
			font-size:$xxlFontSize;
			margin-left:-($mic);
			text-align:left;
		}
	}

	.piece{
		text-align:center;
		margin-top:$lg;
	}

	.view-all{
		text-align:center;
		font-size:$medFontSize;
		margin-top:$lg;
		display:block;
		text-decoration: none;
	}

	.process-section{
		.left, .right{
			padding:$sm;
		}

		.left{
			margin-top:$reg;
		}

		h4{
			font-size:$xlFontSize;
		}
	}

	.contact-section, .contact .content{
		input, textarea{
			padding:$tny;
			width:calc(100% - 30px);
			margin:$sm $sm 0 $sm;
			box-sizing:border-box;
			border:1px solid $grey;

			&:focus{
				border-color:$green;
				color:$green;
				&::-webkit-input-placeholder { /* WebKit, Blink, Edge */
					color:    $green;
				}
				&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
					color:    $green;
					opacity:  1;
				}
				&::-moz-placeholder { /* Mozilla Firefox 19+ */
					color:    $green;
					opacity:  1;
				}
				&:-ms-input-placeholder { /* Internet Explorer 10-11 */
					color:    $green;
				}
				&:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
					color:    $green;
				}
			}

		}
		textarea{
			resize:none;
			height:$xxl;
		}
		button{
			display:block;
			width:$xxl;
			background-color:$green;
			border:none;
			padding:$sm;
			color:$white;
			margin:$sm auto;
			cursor:pointer;
		}
	}

	.about{
		h2{
			font-size:$xlFontSize;
			margin-bottom:$reg;
		}
		h3{
			font-size:$medFontSize;
			margin-bottom:$sm;
		}
		p{
			margin-bottom:$sm;
		}

	}
}





