
//--------------------------------------------------------imports
@import "../lib/bourbon/app/assets/stylesheets/bourbon";
@import "../lib/breakpoint-sass/stylesheets/breakpoint";
@import "../lib/susy/sass/susy";

@import "reset";
@import "variables";
@import "standard";
@import "animations";

//------------------------------------------------------stylesheets

*{
	color:$grey;

	&:focus{
		outline:none;
	}

	::selection{
		background:$green;
		color:white;
	}
}

a{
	text-decoration:underline;
	color:$green;
}

blockquote{
	margin:$reg $lg;
	font-size:$medFontSize;
	font-family:$accent;
	line-height:1.6;
	position:relative;
	padding-left:$reg;
	color:$green;
	border-left:1px solid $green;
}

//--------------------------General Pieces

.wrapper{
	@include breakpoint(1440px){
		@include container(1140px);
	}
}

header{
	font-family:$body;
	position:fixed;
	z-index:100;
	width:100%;
	
	a{
		#logo{
			@include span(1 of 8);
			margin-top:$sm;
		}

		&:hover{
			path{
				fill:$green;
			}
		}
	}

	nav{
		float:right;

		li{
			display:inline-block;
			padding:$reg;

			a{
				color:$grey;
				text-decoration:none;

				&:hover{
					color:$green;
				}
			}
		}
	}
}


footer{
	width:100%;
	padding:$reg 0;

	.wrapper{
		@include layout(split);
	}

	.footer-section{
		box-sizing:border-box;
		min-height:138px;
		@include span(3 of 9);
		border-right:1px solid $lighter-grey;

		&:nth-child(3n){
			border-right:none;
		}
	}

	li{
		font-family:$body;
		margin:$sm 0;
		@include span(6 of 12);
		&:nth-child(2n){
			@include last();
		}

		a{
			color:$grey;
			text-decoration:none;

			&:hover{
				color:$black;
			}
		}
	}

	.social{
		font-family:$socicon;
		font-size:$lgFontSize;
		text-align:center;
		margin-left:-($reg);

		span{
			display:inline-block;
			margin:$lg $reg;

			a{
				text-decoration:none;
				color:$light-grey;

				&:hover{
					color:$green;
				}
			}
		}
	}

	.recent-post{
		display:inline-block;
		padding:0 $sm;
		h5{
			margin-bottom:$tny;
			color:$light-grey;
		}
		h4{
			font-size:$lgFontSize;
			color:$grey;
			a{
				color:inherit;
				text-decoration:none;

				&:hover{
					color:$black;
				}
			}
		}

		span{
			display:block;
			font-family:$body;
			margin-top:$tny;
		}
	}
}

.divide{
	clear:both;
	width:300px;
	height:1px;
	background-color:$lighter-grey;
	margin:$reg auto;
}

input[type="text"],input[type="email"]{
	padding:$tny;
	border:1px solid $light-grey;
	color:$grey;

	&::-webkit-input-placeholder {
		color: $grey;
		@include transition(0.2s);
	}

	&:-moz-placeholder { /* Firefox 18- */
		color: $grey;
		@include transition(0.2s);
	}

	&::-moz-placeholder {  /* Firefox 19+ */
		color: $grey;
		@include transition(0.2s);  
	}

	&:-ms-input-placeholder {  
		color: $grey;
		@include transition(0.2s);  
	}

	@include transition(0.2s);

	&:focus{
		border-color:$green;
		color:$green;

		&::-webkit-input-placeholder {
			color: $green;
		}

		&:-moz-placeholder { /* Firefox 18- */
			color: $green;  
		}

		&::-moz-placeholder {  /* Firefox 19+ */
			color: $green;  
		}

		&:-ms-input-placeholder {  
			color: $green;  
		}
	}
}

button[type="submit"]{
	border:none;
	background-color:$black;
	color:white;
	padding:$tny $sm;
	cursor:pointer;

	&:hover{
		color:$green;
	}
}


//--------------------------Home Page
.hero{
	background-color:$lighter-grey;
	height:100vh;
	position:relative;

	.focus{
		top:30vh;
		position:absolute;
	}

	h2{
		font-size:$xxl;
	}

	p{
		padding-left:$tny;
	}
}

.work-section, .about-section, .process-section, .contact-section{
	h3{
		text-align:center;
		font-size:$lgFontSize;
	}

	.content{
		margin:$reg auto;
		width:600px;
	}
}

//-------------------------All Pages

.page{
	padding-top:$xxl;

	.content{
		width:700px;
		margin:auto;
	}

	p{
		margin:$reg 0;
		line-height:1.6;
	}

	h2{
		text-align:center;
		margin-bottom:$sm;
		font-size:$xlFontSize;
	}

	h3{
		margin-bottom:-($sm);
		font-size: $medFontSize;
	}
}

//-------------------------About Page

.about{

}


//-------------------------Skills Page

.skills{

	.tool{
		width:600px;
		margin:auto;

		input{
			width:300px;
			display:block;
			margin:$sm auto;
		}

		h4{
			margin-bottom:-($sm);
		}
	}
}


//------------------------Contact Page

.contact, .contact-section{
	form{
		padding:$sm 0;
	}

	input[type="text"],input[type="email"], textarea{
		box-sizing:border-box;
		padding:$mic $tny;
		border:1px solid $grey;
		color:$grey;

		@include transition(0.2s);

		&::-webkit-input-placeholder {
			color: $grey;
			@include transition(0.2s);
		}

		&:-moz-placeholder { /* Firefox 18- */
			color: $grey;
			@include transition(0.2s);
		}

		&::-moz-placeholder {  /* Firefox 19+ */
			color: $grey;
			@include transition(0.2s);  
		}

		&:-ms-input-placeholder {  
			color: $grey;
			@include transition(0.2s);  
		}

		&:focus{
			border-color:$black;
		}
	}

	input.ng-invalid.ng-touched.ng-dirty, textarea.ng-invalid.ng-touched.ng-dirty{
		border-color:red;
		color:red;

		&::-webkit-input-placeholder {
			color: red;
			@include transition(0.2s);
		}

		&:-moz-placeholder { /* Firefox 18- */
			color: red;
			@include transition(0.2s);
		}

		&::-moz-placeholder {  /* Firefox 19+ */
			color: red;
			@include transition(0.2s);  
		}

		&:-ms-input-placeholder {  
			color: red;
			@include transition(0.2s);  
		}

		&:focus{
			border-color:red;
			color:red;

			&::selection{
				background-color:red;
			}
		}
	}

	input.ng-valid.ng-touched.ng-dirty, textarea.ng-valid.ng-touched.ng-dirty{
		border-color:$green;
		color:$green;

		&:focus{
			border-color:$green;
		}
	}

	input[type="text"],input[type="email"]{
		margin-bottom:$reg;
		@include span(2 of 4);
	}
	input[type="email"]{
		@include last();
	}
	textarea{
		margin-bottom:$reg;
		@include span(4);
		resize:none;
	}
	button[type="submit"]{
		box-sizing:border-box;
		width:50%;
		margin-left:25%
	}
}

