
<div class="hero">
	<div class="wrapper">
		<div class="focus">
			<h2>Plan.<br>Design. <br> Develop.</h2>
			<p>Brian Brennan <br>
				Web Developer &amp; Designer</p>
			</div>
	</div>
</div>

<section class="work-section">
	<div class="wrapper">
		<h3>Recent Work</h3>
		<div class="pieces">
			<div class="piece"></div>
			<div class="piece"></div>
			<div class="piece"></div>
		</div>
	</div>
</section>

	<div class="divide"></div>

<section class="about-section">
	<div class="wrapper">
		<h3>About</h3>
	</div>
</section>

	<div class="divide"></div>

<section class="process-section">
	<div class="wrapper">
		<h3>My Process</h3>
	</div>
</section>

	<div class="divide"></div>

<section class="contact-section">
	<div class="wrapper">
		<h3>Contact</h3>
		<div class="content">
			<form method="post" name="form" role="form" ng-controller="contactController" ng-submit="form.$valid && sendMessage(input)" novalidate>
				<input type="text" name="name" ng-model="input.name" placeholder="Name" required>
				<input type="email" name="email" ng-model="input.email" placeholder="Email" required>
				<textarea name="message" ng-model="input.message" noresize placeholder="Message" required></textarea>
				<p ng-show="success">Thanks for getting in touch!</p>
				<p ng-show="error">Something wrong happened!, please try again.</p>
				<button type="submit" name="submit" value="submit">Submit</button>
			</form>
		</div>
	</div>
</section>
