<div class="skills page">
	<div class="wrapper">
		<h2>Skills</h2>

		<div class="tool">
			<input type="text" ng-model="skillInput" placeholder="See if I know a skill">

			<div ng-repeat="skill in skills | filter: skillInput">
				<div class="skill" ng-if="skillInput">
					<h4>{{skill.skill}}</h4>
					<p>{{skill.description}}</p>
				</div>
			</div>

			
		</div>

		<h3 ng-show="skillInput">Examples</h3>

		<div class="example" ng-repeat="work in works | filter: {tags: skillInput}" ng-if="skillInput">
			<a ng-href="/#/{{work.page}}"><img src="{{work.thumbnail}}" alt=""></a>
		</div>
	</div>
</div>